<footer class="bg-dark text-light py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>Acme Widget Co</h5>
        <p class="mb-0">Your one-stop shop for quality products and great deals!</p>
      </div>
      <div class="col-md-6 text-md-end">
        <h6>Quick Links</h6>
        <div class="d-flex flex-column flex-md-row justify-content-md-end">
          <%= link_to "Home", root_path, class: "text-light text-decoration-none me-3 mb-2 mb-md-0" %>
          
          <%= link_to "Basket", baskets_path, class: "text-light text-decoration-none me-3 mb-2 mb-md-0" %>
         
        </div>
      </div>
    </div>
    <hr class="my-3">
    <div class="row">
      <div class="col-12 text-center">
        <p class="mb-0">&copy; <%= Date.current.year %> Acme Widget Co. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>